<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="/img/macaronlogo.png" />
	<title>Go 语言北京聚会抽奖程序</title>
	<link rel="stylesheet" href="/css/semantic.min.css">
	<script src="/js/jquery-2.1.3.min.js"></script>
	<script src="/js/semantic.min.js"></script>
	<script src="/js/lottery.js"></script>
</head>
<body>
	<div class="ui grid">
		<div class="ten wide column centered">
			<h1>Go 语言北京聚会抽奖程序（2015 年 1 月）</h1>
			<div style="display: none" id="done_panel">
				<h3 class="ui dividing header">
					中奖人信息
				</h3>
				<p>
					姓名：<span id="name"></span>
				</p>
				<p>
					手机号/邮箱：<span id="info"></span>
				</p>
				<button class="ui green basic button" name="start_btn">继续摇号</button>
			</div>

			<div id="doing_panel" style="display: none">
				<h3>正在摇号... <small id="current_info"></small></h3>
				<button class="ui purple basic button" id="stop_btn">停止摇号</button>
			</div>

			<div id="start_panel">
				<h2 style="color: green">尚未开始抽奖，表急！😆</h2>
				<button class="ui black basic button" name="start_btn" style="display: none">开始摇号</button>
			</div>

			<br>
			<p>连接状态：<span id="status">正在连接...</span></p>
		</div>
	</div>

	<footer class="ui grid">
		<div class="ten wide column centered">
			<p style="font-size: 20px">
				本程序由 <img src="/img/macaronlogo.png" style="width: 32px; margin-bottom: -5px;"> <strong>Macaron</strong> 提供动力（<a href="http://macaron.gogs.io">macaron.gogs.io</a>） 
				
			</p>
		</div>
	</footer>
</body>
</html>